{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        // make imports look better
        "alias": {
          "@components": "./src/components",
          "@navigation": "./src/navigation",
          "@helpers": "./src/helpers",
          "@screens": "./src/screens"
        }
      }
    ]
  ]
}
